*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: 2px solid black;
    align-items: center;
}

.nav-items ul{
    display: flex;
}

.nav-items ul li {
    list-style-type: none;
    padding: 5px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card img {
    width: 100%;
}

.restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;

}
.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.card > img{
    width: 100%;
    border-radius: 10px;
}
.card span {
    display: flex;
    justify-content: space-between;
}
